@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}

:root {
    --white: #fff;
    --black: #000;
    --green: #11ff00;
    --gray: #4f514f;
    --darkergreen: green;
}

.main-text-weight {
    font-weight: 500;
    font-size: 17px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.why-no-work {
    display: flex;
    color: var(--green);
    text-align: center;
    justify-content: center;
    align-self: center;
}

body {
    background-color: var(--black);
    color: var(--green);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('default.jpg');
    /* Default background image */
    background-size: cover;
    background-position: center;
}

img {
    max-width: 100%;
    height: 90%;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 90%; 
    height: 100%; 
    z-index: -1; 
    object-fit: cover;
}

/* style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; object-fit: cover;" */

.content-container {
    display: flex;
    flex-direction: column;
    /* need to make it so where the box is on the bottom of the page instead of sitting in the middle HELP HELP HELP */
    margin-top: 20%;
    margin-left: 1%;
}

.container {
    text-align: left;
    border: 2px solid var(--darkergreen);
    padding: 50px;
    width: 1400px;
    height: 200px;
    /* width: 1900px;
    height: 280px; */
    background-color: var(--black);
}

.options {
    margin-bottom: 20px;
    width: 20%;
}

.options button {
    background-color: var(--black);
    color: var(--green);
    border: 2px solid var(--darkergreen);
    padding: 20px;
    margin: 5px;
    cursor: pointer;
}

.options button:hover {
    background-color: var(--darkergreen);
    color: var(--white);
}

.dropdown {
    position: fixed;
    /* fixes the dropdown to the right */
    transform: translateY(-50%);
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 8px;
}

/* dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    right: 10%;
    /* moves left */
    top: 75px;
    background-color: var(--black);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid var(--green);
    border-color: var(--green);
    color: var(--green);
    /* replace hex codes with var(--green) :) */
}

.dropdown-content p {
    color: var(--green);
    padding: 20px;
    text-decoration: none;
    display: block;
}

/* text */

h3 {
    text-align: center;
    font-size: 15px;
}

.dropdown-text {
    font-size: 12px;
    margin-bottom: -15px;
}