* {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --green: #11ff00;
    --gray: #4f514f;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: green;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('default.jpg'); /* Default background image */
    background-size: cover;
    background-position: center;
}
.container {
    text-align: center;
    border: 2px solid green;
    padding: 20px;
    width: 80%;
}
.options {
    margin-bottom: 20px;
}

.options button {
    background-color: black;
    color: green;
    border: 2px solid green;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.options button:hover {
    background-color: green;
    color: black;
}
.dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
}
.dropdown select {
    background-color: black;
    color: green;
    border: 2px solid green;
    padding: 10px;
}