/* TITLE SCREEN */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}

:root {
    --white: #fff;
    --gray: #4f514f;
    --black: #000;
    --green: #11ff00;
    --darkergreen: green;
    --darkgreen: #010d00; 
    /* darker green being the lighter makes no sense but okay */
}

body {
    background-color: var(--black);
}

img {
    width: 1200px;
    height: 800px;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 90%; 
    height: 100%; 
    z-index: -1; 
    object-fit: contain; /* Ensure the full image is visible */
    object-position: 81%; /* Center the image */
}

.Button-correction {
    width: 400px;
    height: 64px;
    display: flex;
    text-align: center; /* Center the text inside the button */
    line-height: 64px; /* Vertically align text to the middle if needed */
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 450px;
    margin-bottom: 50px;
    border: 2px solid var(--darkergreen);
    cursor: pointer;
}

.Button-size {
    position: absolute;
    left: 35%;
    top: 15%;
}

a {
    text-decoration: var(--green);
    text-decoration-color: var(--green);
}
.link {
    text-decoration: var(--green);
    color: var(--green);
}

.btns {
    background-color: var(--black);
    margin-bottom: 20px;
}

.btns button:hover {
    background-color: var(--darkergreen);
    color: var(--white);
}